# wpt-specifics
Debug
*.vcxproj.user
*.vcproj.*.user
*~
*.pyc
Local.testsettings
TraceAndTestImpact.testsettings
wptdriver.ini
wpthook.aps
webpagetest.opensdf
webpagetest.sdf
webpagetest.suo
webpagetest.vsmdi
wptdriver tests/
.svn
*.last
agent/browser/ie/wptbho/wptbho_i.c
agent/browser/ie/wptbho/wptbho_i.h
agent/browser/ie/wptbho/wptbho_p.c
www/
.DS_store
dist/
batchtool/
bulktest/

# ignore dolphin temp file
*.directory

# ignore itellj settings
*.iml
*.ipr
*.iws

# ignore eclipse settings
.classpath
.project
.settings

# ignore build folders 'n results
# don't ignore build folders since the folder is required for chrome extension compilation
# (wptagent/agent/browser/chrome/extension/third_party/closure-library/closure/bin/build)
# build/
target*/

# ignore .gradle 
.gradle/

# ignore log files
*.log

