# wpt-specifics
Debug
Release
*.vcxproj.user
*.vcproj.*.user
*~
*.pyc
Local.testsettings
TraceAndTestImpact.testsettings
wptdriver.ini
wpthook.aps
webpagetest.opensdf
webpagetest.sdf
webpagetest.suo
webpagetest.vsmdi
wptdriver tests/
.svn
*.last
agent/
www/results
www/log.txt
www/tmp
www/work/jobs/uniqueId.dat
www/logs/*.log
www/work/jobs
www/work/video
www/nbproject
.DS_store
dist/
batchtool/
bulktest/

# ignore dolphin temp file
*.directory

# ignore itellj settings
*.iml
*.ipr
*.iws

# ignore eclipse settings
.classpath
.project
.settings

# ignore build folders 'n results
bin/
build/
target*/

# ignore .gradle 
.gradle/

# ignore log files
*.log

# ignore c++ projects
*.sln